@model Historial_C.Models.Evolucion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Evolucion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medico.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionAtencion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionAtencion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoAbierto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoAbierto)
        </dd>
@*        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaId)
        </dd>*@
    </dl>
</div>
<div>
     @if (User.IsInRole("Empleado"))
    {
        <a asp-action="Create" asp-controller="Notas" asp-route-evolucionId="@Model.Id" class="btn btn-primary">Cargar Nota</a>
    }
    @if (User.IsInRole("Medico") || User.IsInRole("Empleado"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
    }
</div>
